
  <md-content layout="row" class="md-padding" layout-wrap layout-gt-sm>
      <form class="set-location" ng-submit="setLocation()" flex-gt-sm="50">
        <md-input-container>
          <label>Set Location</label>
          <input type="text" ng-model="chosenLocation">
        </md-input-container>
      </form>

      <div flex-gt-sm="50">
        <a href="/map"><md-button class="md-raised md-primary md-fab" layout-align="right">Map</md-button></a>
        <md-button ng-click="toggleRight()"
            class="md-primary">
            Toggle right
          </md-button>
      </div>

      <div class="attractions">
        <h1 class="md-headline">Attractions</h1>
        <div class="places-thumbs" layout-wrap ng-repeat="attraction in attractions | orderBy:{visited:false}" >
          <img ng-if="attraction.image_url" ng-src="{{attraction.image_url}}" ng-class="{'fade': attraction.visited}">
          <img ng-if="attraction.img" ng-src="{{attraction.img}}" ng-class="{'fade': attraction.visited}"><div class="place-name" ng-class="{'fade': attraction.visited}"><a ng-href="{{attraction.url}}" target="_blank">{{attraction.name}}</a></div>

          <md-button class="md-fab md-mini md-hue-8 btn-check" ng-class="{'active' : attraction.visited}" ng-click="addPlace(attraction,$index,'visited')">
            <md-icon>check</md-icon>
          </md-button>
          <md-button class="md-fab md-mini btn-add" ng-class="{'active' : attraction.willVisit}" ng-click="addPlace(attraction,$index,'willVisit')">
            <md-icon>add</md-icon>
          </md-button>
          <md-button class="md-fab md-mini btn-clear" ng-click="addPlace(attraction,$index,'clear')">
            <md-icon>clear</md-icon>
          </md-button>
        </div>
      </div>
      <div class="restaurants">
        <h1 class="md-headline">Restaurants</h1>
        <div class="places-thumbs restaurants" layout-wrap ng-repeat="restaurant in restaurants">
          <img ng-if="restaurant.image_url" ng-src="{{restaurant.image_url}}" >
          <img ng-if="restaurant.img" ng-src="{{restaurant.img}}" ><div class="place-name">{{restaurant.name}}</div>
        </div>
      </div>
      </div>
    </div>
  </md-content>
