<div layout="column" ng-app="CityExplorer">
  <md-toolbar class="topnav" layout="row" layout-wrap>
    <div class="md-toolbar-tools" ng-controller="NavCtrl" layout-margin>
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
      </md-button>
        <div class="nav left-nav" flex-gt-sm='50' flex-sm="100">
      <a id="brand" href="/">Urban Explorer</a>
          <a href="/"><md-button><md-icon>home</md-icon></md-button></a>
          <a href="/about"><md-button><md-icon>info </md-icon></md-button></a>
        </div>
        <div class="right-nav" flex-gt-sm='50' flex-sm="100" layout-align="end center">
            <span ng-if="currentUser" class="welcome-text">
              {{currentUser.firstName || 'Unknown User'}} {{currentUser.lastName}}
            </span>
            <span ng-if="currentUser" class="welcome-text">
              <md-icon class="location-icon">my_location</md-icon> {{currentUser.location || ''}}
            </span>
            <md-button ng-click="showLogin($event)" ng-hide="currentUser">Login</md-button>
            <md-button ng-click="showSignup($event)" ng-hide="currentUser">Signup</md-button>
            <md-button ng-click="logout()" ng-show="currentUser">Logout</md-button>
        </div>

    </div>
  </md-toolbar>

  <ng-view></ng-view>

</div>
