body {
  font-family: 'Istok Web', sans-serif;
}

.nav a {
  margin-right: 0em;
}
md-headline {
  color: #37474f;
}
/*.attractions {
  width: 68%;
  float: left;
}

.restaurants {
  width: 30%;
}*/
.nav md-icon {
  font-size: 2em;
  line-height: .6;
}
md-sidenav.md-sidenav-right {
  width: 800px;
  min-width: 304px;
  max-width: 800px;
  padding: 0 2em;
}
.clear-sidenav:hover {
  cursor: pointer;
}
#brand {
  margin-right: 1em;
  font-size: 1.5em;
  color: #f0f4c3;
}
.right-nav {
  text-align: right;
}
.md-headline {
  /*text-align: center;*/
  color: #263238;
}
.checkbox {
  float: right;
}
.welcome-text {
  font-size: .7em;
  color: #b0bec5;
}

md-toolbar:not(.md-menu-toolbar) md-icon.location-icon {
  color: rgb(205,220,57);
  margin: 0 .5em;

}

a {
  color: #000;
  text-decoration: inherit;
  transition: color .3s ease;
}

a:hover,
a:active {
  color: #006064;
}
a#brand:hover,
a#brand:active  {
  color: rgb(205,220,57);
}
.recede {
  opacity: .6;
}
.place-name.recede {
  border-bottom-color: rgba(0,0,0,0);
}
md-checkbox.md-checked .md-icon {
  background-color: rgb(255, 143, 0);
}
a.md-button.md-fab.active,
.md-button.md-fab.active {
  /*background-color: rgb(255,215,64);*/
  background-color: #fff;

}
.material-icons {
  line-height: 1;
}
.map-btn.md-button.md-fab {
  border-radius: 0%;
  border: none;
}
a.md-button.md-accent.md-raised:not([disabled]) md-icon,
a.md-button.md-accent.md-fab:not([disabled]) md-icon,
.md-button.md-accent.md-raised:not([disabled]) md-icon,
.md-button.md-accent.md-fab:not([disabled]) md-icon,
.key-icon {
  color: #37474f;
}
.key {
  text-align: right;
}
.map-btn md-icon {
  color: #fff;
}
.map-btn md-icon {
  font-size: 2em;
  line-height: .8;
}
a.md-button.md-fab,
.md-button.md-fab {
  background-color: #fff;
  border-color: #444;
  border: 1px solid;
  opacity: 1;
}
/*a.md-button.md-fab:hover,
.md-button.md-fab:hover,
a.md-button.md-fab:active,
.md-button.md-fab:active {
  color: #fff;
}*/
a.md-button.md-fab.btn-clear:hover,
.md-button.md-fab.btn-clear:hover {
  background-color: #e6e6e6;
}
a.md-button.md-fab.btn-check.active,
.md-button.md-fab.btn-check.active,
a.md-button.md-fab.btn-check:hover,
.md-button.md-fab.btn-check:hover {
  background-color: #0097A7;
  transition: all 0.3s ease;
  color: #fff;
}
a.md-button.md-fab.active md-icon,
.md-button.md-fab.active md-icon {
  color: #fff;
}
a.md-button.md-fab.btn-add.active,
.md-button.md-fab.btn-add.active {
  background-color: #AFB42B;
  transition: all 0.3s ease;
}
a.md-button.md-fab.btn-check,
.md-button.md-fab.btn-check {
  /*border-color: #0097A7;*/
  transition: all 0.3s ease;
  /*background-color: #B2DFDB;*/
  background-color: #fff;
  border-color: #444;
}
a.md-button.md-fab md-icon,
.md-button.md-fab md-icon {
  color: #37474f;
}
.will-visit-icon {
  color: #AFB42B;
}
.visited-icon {
  color: #0097A7;
}
a.md-button.md-fab.btn-add,
.md-button.md-fab.btn-add {
  /*border-color:#FF8F00;*/
  /*background-color: #DCE775;*/
  background-color: #fff;
  border-color: #444;
}
a.md-button.md-fab.btn-clear,
.md-button.md-fab.btn-clear {
  /*border-color: #cecece;*/
  background-color: #fff;
  border-color: #444;
}
md-input-container label,
md-input-container .md-placeholder {
  color: #9e9d24;
}
.main-content {
  padding: .8em 3em;
}
.places-thumbs {
  width: 350px;
  float: left;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-top: 2em;
}

.attractions .places-thumbs {
  margin-right: 3em;
}
.places-thumbs img {
  float: left;
  margin-right: 1em;
  border-right: 3px solid #0097A7;
  box-shadow: -1px 1px 2px #777;
}
.restaurants .places-thumbs img {
  border-right: 3px solid #FF8F00;
}

.place-name {
  border-bottom: 1px solid #0097A7;
  height: 50px;
}

.restaurants .place-name {
  border-bottom: 1px solid #FF8F00;
  height: 50px;
}

.topnav {
  box-shadow: 0px 0px 20px #000;
}
.md-toolbar-tools {
  margin-right: 2em;

}
/* MAP */

.angular-leaflet-map {
  box-shadow: 0 0 10px #999;
  /*margin: 4em 1em 1em 1em;*/
}
.map-container {
  justify-content: flex-end;
}