body {
  font-family: 'Montserrat', sans-serif;
}

.nav a {
  margin-right: 1em;
}
.attractions {
  width: 68%;
  float: left;
}

.restaurants {
  width: 30%;
}

#brand {
  margin-right: 3em;
  font-size: 1.5em;
}
.right-nav {
  float: right;
}
.checkbox {
  float: right;
}

a {
  color: #000;
  text-decoration: inherit;
  transition: color .3s ease;
}

a:hover,
a:active {
  color: #006064;
}
.recede {
  opacity: .6;
}
.place-name.recede {
  border-bottom-color: rgba(0,0,0,0);
}
md-checkbox.md-checked .md-icon {
  background-color: rgb(255, 143, 0);
}
a.md-button.md-fab.active,
.md-button.md-fab.active {
  /*background-color: rgb(255,215,64);*/
  background-color: #fff;

}
.material-icons {
  line-height: 1;
}
a.md-button.md-fab,
.md-button.md-fab {
  background-color: #fff;
  /*border: 2px solid;*/
  opacity: 1;
}
a.md-button.md-fab.btn-clear:hover,
.md-button.md-fab.btn-clear:hover {
  background-color: #e6e6e6;
}
a.md-button.md-fab.btn-check.active,
.md-button.md-fab.btn-check.active,
a.md-button.md-fab.btn-check:hover,
.md-button.md-fab.btn-check:hover {
  background-color: #0097A7;
  transition: all 0.3s ease;
  color: #fff;
}
a.md-button.md-fab.active md-icon,
.md-button.md-fab.active md-icon {
  color: #fff;
}
a.md-button.md-fab.btn-add.active,
.md-button.md-fab.btn-add.active {
  background-color: #FF8F00;
  transition: all 0.3s ease;
}
a.md-button.md-fab.btn-check,
.md-button.md-fab.btn-check {
  /*border-color: #0097A7;*/
  transition: all 0.3s ease;
  background-color: #B2EBF2;
}

a.md-button.md-fab.btn-add,
.md-button.md-fab.btn-add {
  /*border-color:#FF8F00;*/
  background-color: #FFE57F;
}
a.md-button.md-fab.btn-clear,
.md-button.md-fab.btn-clear {
  /*border-color: #cecece;*/
}

.md-button.md-fab.btn-clear {
  background-color: #fff;
}

ng-view {
  padding: 0em 1em;
}
.places-thumbs {
  width: 350px;
  float: left;
  margin-bottom: 1em;
  margin-right: 2em;
}
.places-thumbs img {
  float: left;
  margin-right: 1em;
  border-right: 3px solid #0097A7;
  box-shadow: -1px 1px 2px #777;
}
.restaurants .places-thumbs img {
  border-right: 3px solid #FF8F00;
}

.place-name {
  border-bottom: 1px solid #0097A7;
  height: 50px;
}

.restaurants .place-name {
  border-bottom: 1px solid #FF8F00;
  height: 50px;
}

.topnav {
  box-shadow: 0px 0px 20px #000;
}
/* MAP */

.angular-leaflet-map {
  box-shadow: 0 0 20px #999;
}
.map-container {
  justify-content: flex-end;
}